body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin: 0;
    background: url(cakey\ pinky.jpg) no-repeat center center fixed;
    background-size: cover; 
    overflow: hidden;
}

hr {
    border-top: 2px dashed white;
}


h2 {
    color: rgb(189, 37, 131);
    text-align: center;
    font-size: 18px;
    
}

.container {
    background-color: rgb(209, 138, 245);
    fill-opacity: opacity(90%);
    padding: 10px;
    border-radius: 8px;
    border-style: dashed;
    width: 80%;
    max-width: 1200px;
    max-height: 100hv;
    overflow: auto;
    color: rgb(189, 37, 131);
    border-color: darkviolet;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pembayaran-team {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: space-between;
}

.pembayaran-team label {
    margin-right: 5px;
}

.pembayaran-team input[type="radio"] {
    margin-right: 5px;
}

button {
    display: flex;
    height: 32px;
    width: 50px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: blueviolet;
    cursor: pointer;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.63);
}

button[type="reset"]:hover {
    background-color: rgb(236, 78, 99);
}

button[type="submit"]:hover {
    background-color: rgb(85, 230, 181);
}

label,
textarea,
select,
#Tanggal_Beli {
    width: 100%;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea,
select {
    padding: 5px;
    border: 1px solid #acc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.menu-cake {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    flex: 1px;
}

.menu-cake label {
    width: 5px;
    font-size: 13px;
}

.menu-cake input[type="number"] {
    width: 100%;
    margin-left: 5px;
    padding: 5px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}