body {
    background: url(Soap\ bubbles\ wallpaper.jpg);
    background-size: cover;
}

container {
    background-color: cornflowerblue;
    margin: auto;
    margin-top: 2%;
    width: 70%;
    fill-opacity: calc(90%);
    border: 1px dashed whitesmoke;
    border-radius: 40%;
    box-shadow: 2% 2% 2% rgba(0, 0, 0, 0.7)    
}

h2 {
    text-align: center;
    color: black;
}

table {
    margin: auto;
    margin-bottom: 30%;
    width: 80%;
    height: 90%;
    border-collapse: collapse;
    overflow: auto;
}

th {
    color: black;
}

th:hover {
    background-color: rgb(134, 247, 90);
    transition: 0.5s;
}

td:hover {
    background-color: rgb(134, 247, 90);
    transition: 0.5s;
}

table {
    width: 70%;
}
