body {
    background: url(Soap\ bubbles\ wallpaper.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

container {
    background-color: cornflowerblue;
    margin: 6rem auto 0;
    margin-top: 2%;
    width: 80%;
    padding: 1rem;
    overflow: auto;
    margin-top: 35px;
    border: 2px dashed whitesmoke;
    border-radius: 15px;
    box-shadow: 2% 2% 2% rgba(0, 0, 0, 0.7)    
}

h2 {
    text-align: center;
    color: black;
}

table {
    width: 90%;
    margin: 20px auto;
    height: 25hv;
    border: 2px dashed white;
}

th {
    color: black;
}

th:hover {
    background-color: rgb(134, 247, 90);
    transition: 0.5s;
}

td:hover {
    background-color: rgb(134, 247, 90);
    transition: 0.5s;
}

table {
    width: 90%;
}
